################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/MonsterBattleCS/MonsterBattleCS/FlatBuffers/obj/Debug/net35
/MonsterBattleCS/MonsterBattleCS/obj
