################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/MonsterBattleCS/.vs
/MonsterBattleCS/MonsterBattleCS/FlatBuffers/obj/Debug/net35
/MonsterBattleCS/MonsterBattleCS/obj
/MonsterBattleCS/MonsterBattleCS/bin
/MonsterBattleCpp/.vs/MonsterBattleCpp/v16
/MonsterBattleCpp/MonsterBattleCpp/x64
/MonsterBattleCpp/x64
/MonsterBattleCpp/MonsterBattleCpp/MonsterBattleCpp.vcxproj.user
